version: "3.9"

services:
  backend:
    build: ./backend
    container_name: backend
    depends_on:
      - postgres
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./backend/uploads:/app/uploads
      - ./backend/data/chroma:/app/data/chroma
    develop:
      watch:
        - action: sync
          path: ./backend
          target: /app
          ignore:
            - ./backend/__pycache__/
            - ./backend/app/__pycache__/
            - ./backend/data/
            - ./backend/uploads/
        - action: rebuild
          path: ./backend/requirements.txt
  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_USER: langchain
      POSTGRES_PASSWORD: password
      POSTGRES_DB: langchain_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    environment:
      - VITE_BACKEND_URL=http://backend:8000 #- VITE_BACKEND_URL=http://host.docker.internal:8000 / VITE_BACKEND_URL=http://backend:8000 PROD

volumes:
  postgres_data:

